<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring2.3.1 application</title>
</head>
<body>
<div style="text-align: center">
    <H1>Welcome, lets do something with our Users :D</H1>
    <br><br>
    <a href="admin/allUsers">Lets see all Users</a>
    <br><br>
    <a href="admin/createUser">Lets create new User</a>
    <br><br>
    <br><br>
    <a href="/user">Your user info</a>
    <div>
        <a href="/logout">Logout</a>
    </div>
</div>
</body>
</html>