<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EditUser</title>
</head>
<body>
<h1 style="text-align: center">Update user</h1>
<br><br>
<a href="/">Return to start page</a>
<br><br>
<div>
  <form style="text-align: center" th:method="PATCH" th:action="@{/admin/allUsers/{id}(id = ${user.getId()})}" th:object ="${user}">
    <br><br>
    <label for="name">Enter updated name</label><br>
    <input type="text" th:field="*{name}" id="name" placeholder="enter name"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br><br>
    <label for="password">Enter updated password</label><br>
    <input type="password" th:field="*{password}" id="password" placeholder="enter password"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Email error</div>
    <br><br>
    <label for="surname">Enter updated surname</label><br>
    <input type="text" th:field="*{surname}" id="surname" placeholder="enter surname"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br><br>
    <label for="age">Enter updated age</label><br>
    <input type="text" th:field="*{age}" id="age" placeholder="enter age"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br><br>
    <label for="email">Enter updated email</label><br>
    <input type="text" th:field="*{email}" id="email" placeholder="enter email"/><br>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br><br>
    <select th:field="*{roles}" th:size="2" multiple>
      <option th:each="role : ${role_from_service}" th:value="${role}" th:text="${role}"></option>
      <div style="color: red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Role error</div>
    </select>
    <br><br>
    <input type="submit" value="UPDATE USER">
  </form>
</div>
</body>
</html>