<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Spring2.3.1 application</title>-->
<!--</head>-->
<!--<body>-->
<!--<br><br>-->
<!--<a href="/logout">Выйти</a>-->
<!--<br><br>-->
<!--<div style="text-align: center">-->
<!--    <H1>Welcome ADMIN, lets do something with our Users :D</H1>-->
<!--    <br><br>-->
<!--    <a href="allUsers">Lets see all Users</a>-->
<!--    <br><br>-->
<!--    <a href="createUser">Lets create new User</a>-->
<!--    <br><br>-->
<!--    <div style="text-align: center">-->
<!--        <label >Your name : </label><br>-->
<!--        <span th:text="${user.getName()}"></span><br>-->
<!--        <br><br>-->
<!--        <label>Your surname : </label><br>-->
<!--        <span th:text="${user.getSurname()}"></span><br>-->
<!--        <br><br>-->
<!--        <label>Your age :</label><br>-->
<!--        <span th:text="${user.getAge()}"></span><br>-->
<!--        <br><br>-->
<!--        <label>Your email : </label><br>-->
<!--        <span th:text="${user.getEmail()}" ></span><br>-->
<!--        <br><br>-->
<!--       <div th:each="role : ${user.getRoles()}">-->
<!--           <label> Your roles : </label>-->
<!--           <span th:text="role."></span>-->
<!--       </div>-->
<!--    </div>-->

<!--</div>-->
<!--</body>-->
<!--</html>-->
